Предполагаемый сценарий
1. Выбирается файл для заливки
2. Определяется имя таблицы, куда будет заливаться
3. Определяется описание таблицы (trash.trash.sources_catalog;)
4. Определяются поля, которые следует залить и их тип
5. Выполняется заливка

In [1]:
import psycopg2 as ppg
import pandas as pd
import numpy as np
#from pandas.io.sql import frame_query

In [2]:
# формируется строка подключения
conn_string = "host='localhost' dbname='trash' user='test' password='test'"

In [40]:
pgcon = ppg.connect(conn_string)

In [41]:
# Open a cursor to perform database operations
cur = pgcon.cursor()

In [35]:
# Query the database and obtain data as Python objects
cur.execute("SELECT * FROM trash.trash.sources_catalog;")

In [36]:
cur.fetchone()

In [42]:
cur.execute("INSERT INTO trash.trash (txt) VALUES ('dfd2');")

In [43]:
pgcon.commit()

In [39]:
pgcon.close()

In [18]:
conn.commit()

NameError: name 'conn' is not defined

In [8]:
#frame_query принимает результат sql запроса, а возвращает DataFrame

df = frame_query('select * from trash.trash.sources_catalog;', con=pgcon)

NameError: name 'frame_query' is not defined

In [30]:
cur.close()
pgcon.close()